[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpraw = "*"
tweepy = "*"
APScheduler = "*"
colorama = "*"
discord-webhook = {extras = ["async"], git = "https://github.com/lovvskillz/python-discord-webhook"}
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.10.4"
